<div class="signature">
  <img class="signature-profile" alt="profile2" src="<%- theme.signature.profile %>" />
  <div class="mwt_border">
    <span class="arrow_l_int"></span>
    <span class="arrow_l_out"></span>
    <p><%- theme.signature.comment %></p>
  </div>
</div>